<div class="container">
  <form
    action="put"
    [formGroup]="formSignUp"
    (ngSubmit)="handlerSignUp()"
    class="form-container"
  >
    <h2 class="space-up">Sign Up</h2>
    <h4 class="space-up space-down">Create your account</h4>
    <!-- <mat-form-field class="form-container__field space-up">
      <mat-label>Name</mat-label>
      <input
        class="form-container__input"
        formControlName="firstName"
        matInput
        placeholder="first name"
        value=""
      />
    </mat-form-field>
    <mat-form-field class="form-container__field">
      <mat-label> First last name</mat-label>
      <input
        class="form-container__input"
        formControlName="firstLastName"
        matInput
        placeholder="first last name"
        value=""
      />
    </mat-form-field>
    <mat-form-field class="form-container__field">
      <mat-label>Second Last Name</mat-label>
      <input
        class="form-container__input"
        formControlName="secondLastName"
        matInput
        placeholder="second last name"
        value=""
      />
    </mat-form-field>
    <mat-form-field class="form-container__field">
      <mat-label>Birthdate</mat-label>
      <input formControlName="birthdate" matInput [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

    </mat-form-field>
    <mat-form-field class="form-container__field">
      <mat-label>RFC</mat-label>
      <input
        class="form-container__input"
        formControlName="rfc"
        matInput
        placeholder="rfc"
        value=""
      />
    </mat-form-field> -->
    <mat-form-field class="form-container__field">
      <mat-label>Email</mat-label>
      <input
        class="form-container__input"
        formControlName="email"
        matInput
        placeholder="your@email.com"
        value=""
      />
    </mat-form-field>
    <mat-form-field class="form-container__field">
      <mat-label>Password</mat-label>
      <input
        class="form-container__input"
        type="password"
        formControlName="password"
        matInput
        placeholder="length min 8 chars and max 20 chars"
        value=""
      />
    </mat-form-field>
    <mat-form-field class="form-container__field">
      <mat-label>Confirm Password</mat-label>
      <input
        class="form-container__input"
        type="password"
        formControlName="confirmPassword"
        matInput
        placeholder="confirm your password"
        value=""
      />
    </mat-form-field>

    @if (errorMessage) {
    <mat-label class="error-message">
      {{ errorMessage | appErrorMessageFriendly }}
    </mat-label>
    }
    <button
      [disabled]="!formSignUp.valid"
      type="submit"
      class="button-invoice button-m space-up space-down"
    >
      Sign Up
    </button>
  </form>
</div>
