@use "../../utilities/mixins" as mixins;
@use "../../utilities/settings" as stgs;

.container {
  @include mixins.configMobileDisplay();

  .error-message{
    color: stgs.$red-400;
  }
}

.form-container {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: stgs.$black-400;
  border-radius: 4px;
}
