@use "../../utilities/settings" as settings;

.container {
  display: flex;
  justify-content: space-between;
  background-color: settings.$black-400;
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 20px;
}

.payment {
  &__details,
  &__status {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__code,
  &__total {
    color: settings.$gray-300;
    font-weight: bold;
  }

  &__name {
    text-align: right;
  }

  &__status-code {
    min-width: 104px;
    width: 104px;
    height: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: settings.$green-300;
    filter: opacity(0.2);
  }

  &__status--is-paid {
    background-color: settings.$green-300;
  }
  
  &__status--is-pending {
    background-color: settings.$red-400;
  }
  
  &__status--is-draft {
    background-color: settings.$gray-300;
  }
}
