<section class="container">
  <div class="payment__details">
    <span class="payment__code">RT3070</span>
    <small class="payment__date">Due 19 Aug 2021</small>
    <span class="payment__total">$1800</span>
  </div>
  <div class="payment__status">
    <small class="payment__name">Hollrich</small>
    <!-- create ng class to change the color dinamically related to status -->
    <span class="payment__status-code">
      <span class="payment__status payment__status--text-color">Paid</span>
    </span>
  </div>
</section>
