@for (invoice of invoices; track invoice.id) {
<section class="container">
  <div class="payment__details">
    <span class="payment__code">#{{ invoice.id }} </span>
    <small class="payment__date">{{ invoice.paymentDue }} </small>
    <span class="payment__total">{{ invoice.total }} </span>
  </div>
  <div class="payment__status">
    <small class="payment__name">{{ invoice.clientName }} </small>
    <button
      class="payment__status-code"
      [ngClass]="{
      'payment__status--is-paid': invoice.status === 'paid',
      'payment__status--is-pending': invoice.status === 'pending',
      'payment__status--is-draft': invoice.status === 'draft',
    }"
    >
      <span>{{ invoice.status }} </span>
  </button>
  </div>
</section>
}
