.container-items {
    display: flex;
    justify-content: space-around;
    padding: 20px, 0px;

    &__left-column {
        display: flex;
        flex-direction: column;
    }

    &__right-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__amount {
        text-align: center;
    }
}

.actions-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
}