<mat-card class="" appearance="outlined">
    <mat-card-content>
      <div class="container-items">
        <div class="container-items__left-column">
          <span><strong>Banner Design</strong></span>
          <span><small>1 x 156.00</small></span>
          <span class="space-up"><strong>Banner Design</strong></span>
          <span><small>1 x 156.00</small></span>
        </div>
        <div class="container-items__right-column">
          <span><strong>156</strong></span>
          <span class="space-up"><strong>400</strong></span>
        </div>
      </div>
      <div class="container-items__amount">
        <span><small>Amount Due</small></span>
        <h2>$ 1557.00</h2>
      </div>
    </mat-card-content>
    <mat-card-footer class="actions-items">
      <mat-chip-set>
        <mat-chip>edit</mat-chip>
        <mat-chip>delete</mat-chip>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>
