@for (item of itemList; track item.itemName) {
<mat-card class="space-up" appearance="outlined">
  <mat-card-content>
    <div class="container-items">
      <div class="container-items__left-column">
        <span><strong> {{ item?.itemName }} </strong></span>
        <span class="space-up"><small> {{ item?.quantity }} x ${{ item?.price}} </small></span>
      </div>
      <div class="container-items__right-column">
        <span><small>Amount Due</small></span>
        <h2 class="space-up">$ {{calculateTotalPerItem(item)}} </h2>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer class="actions-items space-up">
    <mat-chip-set>
      <mat-chip>edit</mat-chip>
      <mat-chip (click)="openDialog('500ms', '250ms', item.itemId ?? '')">delete</mat-chip>
    </mat-chip-set>
  </mat-card-footer>
</mat-card>
}