<div class="container">
  <form
    action=""
    method="post"
    [formGroup]="setNewPasswordForm"
    class="form-container"
    (ngSubmit)="handlerResetPassword()"
  >
    <h2 class="space-up">Create your new password</h2>
    <mat-form-field class="form-container__field space-up">
      <mat-label>New Password</mat-label>
      <input
        class="form-container__input"
        formControlName="password"
        matInput
        value=""
      />
    </mat-form-field>
    <mat-form-field class="form-container__field space-down">
      <mat-label>Confirm Password</mat-label>
      <input
        class="form-container__input"
        formControlName="confirmPassword"
        matInput
        value=""
      />
    </mat-form-field>
    <button
      type="submit"
      class="button-invoice button-m space-up"
      [disabled]="setNewPasswordForm.invalid"
    >
      Send Email
    </button>
  </form>
</div>
