<div class="container">
  <form action="post" class="form-container" [formGroup]="formRecoverPassword" (ngSubmit)="handleRecoverPassword()">
    <h2 class="space-up space-down">Recover you password</h2>
    <span class="space-down"
      >Enter your email used to sign in into account</span
    >
    <mat-form-field class="form-container__field space-down">
      <mat-label>email</mat-label>
      <input
        class="form-container__input"
        formControlName="email"
        matInput
        placeholder="user@email.com"
        value=""
      />
    </mat-form-field>
    <button
      type="submit"
      class="button-invoice button-m space-up space-down"
    >
      Send Email
    </button>
  </form>

  <div class="center-item">
    <app-back-anchor
      class="space-up"
      [config]="{
        url: url,
        name: 'Back to login',
        hasIcon: false
      }"
    >
    </app-back-anchor>
  </div>
</div>
<router-outlet></router-outlet>