<div class="dialog-delete">
  <h2 class="title-mat-dialog-title" mat-dialog-title>Confirm Deletion</h2>
  <mat-dialog-content class="content-mat-dialog-content">
    Are you sure you want to delete invoice XM4191. This action cannot be undone
  </mat-dialog-content>
  <mat-dialog-actions>
    <div (click)="onCancel()">
      <button mat-button mat-dialog-close>Cancel</button>
    </div>
    <button class="button-delete button-m" (click)="onDeleteInvoice()" mat-dialog-close cdkFocusInitial>
      Delete
    </button>
  </mat-dialog-actions>
</div>