@use "../../utilities/settings" as settings;

.container {
  &__layer {
    padding: 0 15px;
  }

  &__no-invoices {
    display: grid;
    justify-content: center;
    margin-top: 100px;
  }
}

.actions {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;

  &__filter {
    width: 10%;
  }
}
