@use "../utilities/settings" as stgs;

.form-container{
  
  &__input {
    background-color: stgs.$black-400;
    border-radius: 4px;
  }
  
  &__field {
    width: 100%;
  }

  &__row {
    display: flex;
    gap: 10px;
  }

}

