@use "./settings" as stgs;

@mixin button-custom(
  $button-color,
  $text-color,
  $hover-color,
  $text-hover-color
) {
  background-color: $button-color;
  color: $text-color;
  font-size: stgs.$font-size-s;
  border: none;
  border-radius: 24px;
  padding: 15px 12px;
  font-weight: bold;
  max-height: 48px;

  &:hover {
    background-color: $hover-color;
    color: $text-hover-color;
  }
}

@mixin configMobileDisplay() {
  min-height: 100vh;
  width: 100%;
  max-width: 768px;
  padding: 0 15px;
  font-weight: bold;
}