$surface-icon: #7c5dfa;
$purple-400: #7c5dfa;
$purple-300: #9277Ff;
$black-400: #1e2139;
$black-300: #252945;
$gray-400: #dfe3fa;
$gray-500: #888eb0;
$gray-600: #7e88c3;
$black-600: #0c0e16;
$red-40: #ec5757;
$gray-300: #f8f8fb;
$black-500: #141625;

$font-family: "League Spartan", sans-serif;
$font-size-l: 36px;
$font-size-m: 24px;
$font-size-s: 24px;
$font-size-s-vnt: 15px;