@use "../../utilities/settings" as stgs;
@use "../../utilities/mixins" as mixins;

.form-container {
  @include mixins.configMobileDisplay();

  &__title {
    color: stgs.$white-400;
    font-size: stgs.$font-size-m;
    margin-top: 10px;
  }

  &__subtitle {
    font-size: stgs.$font-size-s-vnt;
    color: stgs.$purple-300;
    display: block;
    margin: 30px 0;
  }

  &__item-list {
    color: stgs.$gray-700;
    display: block;
    margin: 30px 0;
  }

  &__row {
    display: flex;
    gap: 10px;
  }
}

.invoice-form-buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}