@use "../../utilities/mixins" as mixins;
@use "../../utilities/settings" as stgs;

.container {
    padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .logo-bg {
    background-color: stgs.$purple-400;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 0px 15px 15px 0;
  }

  &__form{
  @include mixins.configMobileDisplay();
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: stgs.$black-400;
  border-radius: 4px;
}
