@use "./utilities/settings" as settings;

.container {
  width: 100%;
  max-width: 768px;
  min-height: 667px;
  background-color: settings.$black-500;
  font-family: settings.$font-family;
  color: settings.$gray-400;
  position: relative;

  &__layer {
    padding: 0 15px;
  }

  &__no-invoices {
    display: grid;
    justify-content: center;
    margin-top: 100px;
  }
}

.actions {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;

  &__filter {
    width: 30%;
  }
}
