@use "./utilities/settings" as settings;

.container {
  width: 100%;
  max-width: 768px;
  min-height: 667px;
  background-color: settings.$black-500;
  font-family: settings.$font-family;
  color: settings.$gray-400;
}
