@use "../../utilities/settings" as settings;

.form-container {
  min-height: 100vh;
  width: 100%;
  max-width: 768px;
  padding: 0 15px;
  font-weight: bold;

  &__title {
    color: settings.$white-400;
    font-size: settings.$font-size-m;
    line-height: 32px;
  }

  &__subtitle {
    font-size: settings.$font-size-s-vnt;
    color: settings.$purple-300;
  }
}
