<section class="container">
  <app-back-anchor></app-back-anchor>
  <div class="status-payment">
    <span><small>Status</small></span>
    <!-- TODO: create a component for status button -->
    <span
      [ngClass]="{
        'payment__status--is-paid': invoice?.status === 'paid',
        'payment__status--is-pending': invoice?.status === 'pending',
        'payment__status--is-draft': invoice?.status === 'draft',
      }"
      class="payment__status-code"
    >
      Pending
    </span>
  </div>
</section>
