@use "../../utilities/settings" as stgs;

.status-code {
  min-width: 104px;
  width: 104px;
  height: 40px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.is-paid {
  background-color: stgs.$green-300;
}

.is-pending {
  background-color: stgs.$red-400;
}

.is-draft {
  background-color: stgs.$gray-300;
}
