<form [formGroup]="formItem" class="space-up">
  <mat-form-field class="form-container__field">
      <mat-label>Item Name</mat-label>
      <input
        class="form-container__input"
        formControlName="itemName"
        matInput
        value=""
      />
    </mat-form-field>
    <div class="form-container__row">
      <mat-form-field class="form-container__field">
        <mat-label>Qty</mat-label>
        <input
          class="form-container__input"
          formControlName="quantity"
          matInput
          value=""
        />
      </mat-form-field>
      <mat-form-field class="form-container__field">
        <mat-label>Price</mat-label>
        <input
          class="form-container__input"
          formControlName="price"
          matInput
          value=""
        />
      </mat-form-field>
      <mat-form-field class="form-container__field">
        <mat-label>Total</mat-label>
        <input
          class="form-container__input"
          formControlName="total"
          matInput
          value=""
        />
      </mat-form-field>
    </div>
</form>
<!-- TODO: missing binding between brother components to create new items -->