<mat-form-field class="form-container__field">
    <mat-label>Item Name</mat-label>
    <input
      class="form-container__input"
      formControlName="itemName"
      matInput
      value=""
    />
  </mat-form-field>
  <div class="form-container__row">
    <mat-form-field class="form-container__field">
      <mat-label>Qty</mat-label>
      <input
        class="form-container__input"
        formControlName="quantity"
        matInput
        placeholder="1"
        value=""
      />
    </mat-form-field>
    <mat-form-field class="form-container__field">
      <mat-label>Price</mat-label>
      <input
        class="form-container__input"
        formControlName="price"
        matInput
        placeholder="450"
        value=""
      />
    </mat-form-field>
    <mat-form-field class="form-container__field">
      <mat-label>Total</mat-label>
      <input
        class="form-container__input"
        formControlName="total"
        matInput
        placeholder="1200"
        value=""
      />
    </mat-form-field>
  </div>
